.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.text{
    font-size: 25px;
    font-weight: 600;
    color: mediumslateblue;
}

.btn{
    background-color: blueviolet;
    border-radius: 20px;
    border: 2px solid rgb(55, 16, 93);
    padding: 10px 15px;
    width: 100px;
}