.header{
    padding: 30px 0;
    background-color: #CDE7FF;
}


.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-family: "Red Hat Display", sans-serif;
    font-size: 30px;
    color: var(--dark-color);
}

.menu{
    display: flex;
    gap: 53px;
    margin-right: auto;
    margin-left: 109px;
}

.menu_link{
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
}

.menu_link:hover {
    border-bottom: 2px solid  var(--text-color);
}